2_ComputeWRs/*.png
3_MLModels/
4_PCA_Analysis/
5_Variability_WRs/
6_PCA_xgboost/CheckOLR.ipynb
6_PCA_xgboost/ComputePCAs_AllVariables_v5_detrended_20PCs_20240310.ipynb 
6_PCA_xgboost/ComputePCAs_AllVariables_v5_detrended_20PCs_20240314.ipynb 
6_PCA_xgboost/ComputePCAs_AllVariables_v5_detrended_20PCs_20240317.ipynb 
6_PCA_xgboost/ComputePCAs_AllVariables_v5_detrended_20PCs_v2.ipynb
6_PCA_xgboost/ComputePCAs_AllVariables_v5_detrended_24PCs.ipynb
6_PCA_xgboost/ComputePCAs_AllVariables_v5_detrended.ipynb
6_PCA_xgboost/ComputePCAs_AllVariables_v5_withTrends.ipynb
6_PCA_xgboost/figures_detrended/
6_PCA_xgboost/figures_detrended_20/
6_PCA_xgboost/figures_detrended_20240310/
6_PCA_xgboost/figures_detrended_20240314/
6_PCA_xgboost/figures_withTrends/
6_PCA_xgboost/SolveTrendsIssue.ipynb
6_PCA_xgboost/TestsDimensionalityReduction.ipynb
6_PCA_xgboost/test_soil_variables.ipynb
6_PCA_xgboost/xgboost_20240306/
6_PCA_xgboost/xgboost_20240310/
6_PCA_xgboost/xgboost_20240318/
6_PCA_xgboost/xgboost_detrended/
6_PCA_xgboost/xgboost_detrended_20/
6_PCA_xgboost/xgboost_detrended_f1/
6_PCA_xgboost/xgboost_withTrends/
6_PCA_xgboost/xgboost_20240605/*.png
6_PCA_xgboost/xgboost_20240605/figures/
6_PCA_xgboost/xgboost_20240605/figures_by_weather_regime/
6_PCA_xgboost/xgboost_20240605/heatmaps/
6_PCA_xgboost/xgboost_20240605/heatmaps_PT/
6_PCA_xgboost/xgboost_20240605/heatmaps_seasons/
6_PCA_xgboost/xgboost_20240605/results_analysis_xgb_v3_f1_bootstrapping100.ipynb
6_PCA_xgboost/xgboost_20240605/results_analysis_xgb_v3_f1.ipynb
6_PCA_xgboost/xgboost_20240605/results_analysis_xgb_v3_f1_PT_Summer.ipynb
6_PCA_xgboost/xgboost_20240605/results_importance_pca_PT_Spring.ipynb
6_PCA_xgboost/xgboost_20240605/results_importance_pca_PT_Summer.ipynb
6_PCA_xgboost/xgboost_20240605/results_importance_pca_PT_Warm.ipynb
6_PCA_xgboost/xgboost_20240605/results_importance_pca.ipynb
6_PCA_xgboost/xgboost_20240605/results_pca_f1_analysis/
6_PCA_xgboost/xgboost_20240605/results_pca_f1_analysis_v2/
